body {
    background-color: white;
}

p,
h1,
h2,
label,
input,
select {
    color: black;
}

p,
h1,
h2,
label,
input,
select {
    text-align: center;
}

h1,
p {
    font-size: 30px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 33vh;
    width: 100vw;
}

input,
select {
    color: rgb(0, 0, 0);
    background-color: #e6e6e6;
    /* This is an example, set to a dark color for contrast */
    padding: 8px;
    margin: 4px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #0056b3;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #02458e;
}