body {
    background-color: white;
}

h1 {
    color: black;
    text-align: center;
    font-size: 30px;
}

section {
    display: flex;
}

h2 {
    color: black;
    text-align: center;
}

label {
    color: black;
    vertical-align: middle;
}

input {
    color: black;
    background-color: white;
}

#Submit {
    color: black;
}

